<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Macuin - Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    </head>

    <body class="registro">

    <article>


        <div>
        <h1>Macuin</h1>
        <p>Auto Partes y Refacciones</p>
        </div>

        <form>
        <div>
            <div>
            <label>Nombre completo</label>
            <div>
                <input type="text" placeholder="Nombre" />
            </div>
            </div>
            <div>
            <label>Correo Electrónico</label>
            <div>
                <input type="email" placeholder="correo@email.com" />
            </div>
            </div>
        </div>

        <div>
            <div>
            <label>Contraseña</label>
            <div>
                <input type="password"/>
            </div>
            </div>
            <div>
            <label>Confirmar Contraseña</label>
            <div>
                <input type="password"/>
            </div>
            </div>
        </div>

        <button type="submit">Registrarse</button>
        </form>

        <footer>
        <p>¿Ya tienes cuenta? <a href="/ventas">Inicia Sesión</a></p>
        </footer>

    </article>

</body>
</html>