<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>MACUIN — Pedido Realizado</title>
    <link rel="stylesheet" href="styles.css" />
    </head>
    <body>

    <header>
        <div class="logo">MACUIN</div>
        <nav>
        <button class="icono"></button>
        <button class="icono"></button>
        <button>Cerrar Sesión</button>
        </nav>
    </header>

    <section>
        <article class="exito">

        <header>
            <h2>Pedido Realizado</h2>
            <p>Resumen de compra</p>
        </header>

        <ul>
            <li>
            <figure></figure>
            <div>
                <strong>Disco de freno (X2)</strong>
                <p>SKU: FB-2145</p>
            </div>
            <span>$1780</span>
            </li>
            <li>
            <figure></figure>
            <div>
                <strong>Disco de freno (X1)</strong>
                <p>SKU: FB-2115</p>
            </div>
            <span>$891</span>
            </li>
        </ul>

        <div>
            <h3>Total</h3> $2671
        </div>

        <footer>
            <button class="secundario">Volver al inicio</button>
            <button class="exito">Descargar Recibo</button>
            <button class="primario">Ver Mis Pedidos</button>
        </footer>

        </article>
    </section>

</body>
</html>